<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dibsyhex.droid10" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits" >
        </activity>
        <activity
            android:name=".CrossSiteScriptingScanActivity"
            android:label="@string/title_activity_cross_site_scripting_scan" >
        </activity>
        <activity
            android:name=".vectoractivities.XSSVectors"
            android:label="@string/title_activity_xssvectors" >
        </activity>
        <activity
            android:name=".VectorActivity"
            android:label="@string/title_activity_vector" >
        </activity>
        <activity
            android:name=".LiveScanActivity"
            android:label="@string/title_activity_live_scan" >
        </activity>
    </application>

</manifest>
